@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --scroll-behavior: smooth!important;
  scroll-behavior: smooth!important;
  }

@font-face {
  font-family: 'SPARTAN-REGULAR';
  src: url("/fonts/Spartan-Regular.ttf");
}

@font-face {
  font-family: 'SPARTAN-MEDIUM';
  src: url("/fonts/Spartan-Medium.ttf");
}

@font-face {
  font-family: 'SPARTAN-SEMIBOLD';
  src: url("/fonts/Spartan-SemiBold.ttf");
}

@font-face {
  font-family: 'SPARTAN-BOLD';
  src: url("/fonts/Spartan-Bold.ttf");
}

@font-face {
  font-family: 'SPARTAN-EXTRABOLD';
  src: url("/fonts/Spartan-ExtraBold.ttf");
}

.stroke-text{
  -webkit-text-stroke: 1.5px white;
  -webkit-text-fill-color:transparent;
}
